mixin hotel(src, name, price, address, mapLink, distance, stars, reviews, tripAdvisor, website)
  .column.hotel-column
    .hotel
      .hotel-panel
        a(href=website)
          img.hotel-image(src=src)
        .hotel-price= price
        .book.overlay
          h2
            a(href=website).expand Book
          //- p
          //-   a(href="tel:+1" + phone).expand
          //-     i.fa.fa-phone
          //-     = phoneFormatted
          //- p
          //-   a(href="mailto:" + email).expand
          //-     i.fa.fa-envelope
          //-     | Email
          a.close-overlay.hidden
            i.fa.fa-times
      .hotel-info
        .top
          h3= name
        .bottom
          .left
            address
              a(href=mapLink)
                i.fa.fa-map-marker
                = address
            p= distance
          .right
            p
              //- Logic to display # of stars
              - var starCounter = 0
                while starCounter < stars
                  i.fa.fa-star
                  - starCounter++
            p.trip-advisor
              a(href=tripAdvisor)
                img.fa.fa-trip(src="images/trip-advisor.png")
                = reviews

section.hotels
  +hotel('images/hotels/cova.jpg', "Cova Hotel", "$$", "655 Ellis Street", "https://goo.gl/maps/49q4E", "0.5 Miles Away", 4, "714 Reviews", "http://www.tripadvisor.com/Hotel_Review-g60713-d1119270-Reviews-Cova_Hotel-San_Francisco_California.html", "http://www.covahotel.com/")
  +hotel('images/hotels/mosser.jpg', "The Mosser", "$$", "54 4th St", "https://goo.gl/maps/PQL8p", "1.3 Miles Away", 4, "1679 Reviews", "http://www.tripadvisor.com/Hotel_Review-g60713-d81169-Reviews-The_Mosser-San_Francisco_California.html", "http://www.themosser.com/")
  +hotel('images/hotels/club-quarters-sized.jpg', "Club Quarters in San Francisco", "$$", "424 Clay Street", "https://goo.gl/maps/dWcLT", "1.5 Miles Away", 4, "894 Reviews", "http://www.tripadvisor.com/Hotel_Review-g60713-d268240-Reviews-Club_Quarters_in_San_Francisco-San_Francisco_California.html", "https://clubquarters.com/")
  +hotel('images/hotels/sw.jpg', "SW Hotel", "$$", "615 Broadway", "https://goo.gl/maps/WA8Xj", "1.5 Miles Away", 3, "259 Reviews", "http://www.tripadvisor.com/Hotel_Review-g60713-d224951-Reviews-SW_Hotel-San_Francisco_California.html", "http://www.swhotel.com/")
  +hotel('images/hotels/villa-florence.jpg', "Villa Florence", "$$$", "225 Powell Street", "https://goo.gl/maps/o3VZp", "0.9 Miles Away", 4, "48 Reviews", "http://www.tripadvisor.com/Hotel_Review-g60713-d81529-Reviews-Villa_Florence-San_Francisco_California.html", "http://villaflorence.com/")
  +hotel('images/hotels/parc.jpg', "Parc 55", "$$$", "55 Cyril Magnin Street", "https://goo.gl/maps/cgCaL", "1.2 Miles Away", 3, "215 Reviews", "http://www.tripadvisor.com/Hotel_Review-g60713-d81192-Reviews-Parc_55_San_Francisco_a_Hilton_Hotel-San_Francisco_California.html", "http://www.parc55hotel.com")