mixin hotel(src, price, name, address, stars, reviews, distance)
  .column.hotel
    .hotel-panel
      img.hotel-image(src=src)
      .hotel-price= price
    .hotel-info
      h3= name
      address= address
      //- Logic to display # of stars
      - var starCounter = 0
        while starCounter < stars
          i.fa.fa-star
          - starCounter++
      p= reviews
      p= distance
      button Book

section.hotels
  +hotel('images/hotels/cova.jpg', "$$", "Cova Hotel", "655 Ellis Street", 4, "1118 Reviews", "10 Blocks Away")
  +hotel('images/hotels/cova.jpg', "$$", "Cova Hotel", "655 Ellis Street", 4, "1118 Reviews", "10 Blocks Away")
  +hotel('images/hotels/cova.jpg', "$$", "Cova Hotel", "655 Ellis Street", 4, "1118 Reviews", "10 Blocks Away")