mixin hotel(src, price, name, address, mapLink, stars, reviews, distance, phone, phoneFormatted, email)
  .column.hotel-column
    .hotel
      .hotel-panel
        img.hotel-image(src=src)
        .hotel-price= price
      .hotel-info
        .left
          h3= name
          .bottom
            address
              a(href=mapLink)
                i.fa.fa-map-marker
                = address
            p= distance
        .right
          //- .top
            //- Logic to display # of stars
          .bottom
            - var starCounter = 0
              while starCounter < stars
                i.fa.fa-star
                - starCounter++
            p= reviews
            //- p
            //-   a(href="tel:+1" + phone)
            //-     i.fa.fa-phone
            //-     = phoneFormatted
            //- p
            //-   a(href="mailto:" + email)
            //-     i.fa.fa-envelope
            //-     | Email
    .book.overlay
      h2
        a(href="mailto:" + email).expand
          | Book
      a.close-overlay.hidden x


section.hotels
  +hotel('images/hotels/cova.jpg', "$$", "Cova Hotel", "655 Ellis Street", "https://goo.gl/maps/49q4E", 4, "1118 Reviews", "0.5 Miles Away", 4157713000, "(415) 771-3000", "reservation@covahotel.com")
  +hotel('images/hotels/cova.jpg', "$$", "Cova Hotel", "655 Ellis Street", "https://goo.gl/maps/49q4E", 4, "1118 Reviews", "0.5 Miles Away", 4157713000, "(415) 771-3000", "reservation@covahotel.com")
  +hotel('images/hotels/cova.jpg', "$$", "Cova Hotel", "655 Ellis Street", "https://goo.gl/maps/49q4E", 4, "1118 Reviews", "0.5 Miles Away", 4157713000, "(415) 771-3000", "reservation@covahotel.com")
  +hotel('images/hotels/cova.jpg', "$$", "Cova Hotel", "655 Ellis Street", "https://goo.gl/maps/49q4E", 4, "1118 Reviews", "0.5 Miles Away", 4157713000, "(415) 771-3000", "reservation@covahotel.com")
  +hotel('images/hotels/cova.jpg', "$$", "Cova Hotel", "655 Ellis Street", "https://goo.gl/maps/49q4E", 4, "1118 Reviews", "0.5 Miles Away", 4157713000, "(415) 771-3000", "reservation@covahotel.com")
  +hotel('images/hotels/cova.jpg', "$$", "Cova Hotel", "655 Ellis Street", "https://goo.gl/maps/49q4E", 4, "1118 Reviews", "0.5 Miles Away", 4157713000, "(415) 771-3000", "reservation@covahotel.com")
